
body {
 width: 100vw;
 height: 100vh;
background-color: white;
} 
.container {
  
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center; 
  align-items: center top; 
}
h1{
 font-size: 35px;
 color:black;
 font-weight: bold;
}
h2{
 font-size: 30px;
 color:black;
 font-weight: bold;
}
#gente{
  width: 40vw;
  height: 20vh;
  background-color: #4db6ac;
  color: white;
  font-size: 20px;
  border-radius: 10px;
  border: none
}
#gente:hover{
  background-color: none;
}
.sexo{
  width: 15vw;
  max-width: 25vw;

}
#gente:focus{

  border: 5px solid white;
}

.mulhe{
  border: 1px solid #4db6ac;
}